.headt {
  background: linear-gradient(to bottom right, #3bb0b4, #11a5a5);;
}
.tabht {
  max-height: 450px;
  overflow-y: auto;
}


.items[sub-items=0] {
 
  color : orange;
  background-color: #3bb0b4;
 }
 